.jumbo{
    width: 100%;
    opacity: 0.9;
    height: 250px;
}

.cont img{
    position: absolute;
    left: 30%;
    top: 60%;
}

@media (max-width: 992px) {
    .jumbo{
        top: 30.5%;
    }
}


